<tr id="<%= dom_id friend %>">
  <td><%= friend.first_name %></td>
  <td><%= friend.last_name %></td>
  <td><%= friend.email %></td>
  <td><%= friend.phone %></td>
  <td><%= friend.twitter %></td>
  <td><%= friend.user_id %></td>
  <td><%= link_to "Show this friend", friend, class: "btn btn-outline-primary btn-sm" %></td>
  <td>
    <%= button_to "Destroy this friend", friend, method: :delete, data: { turbo_confirm: "Are you sure?" }, class: "btn btn-outline-danger btn-sm" %>
  </td>
</tr>
