
<style>
  .custom-jumbotron {
    background-color: #EEEEEE; /* Màu vàng */
    color: #333; /* Chữ màu tối */
    padding: 30px; /* Khoảng cách bên trong */
  }
</style>

<div class="jumbotron custom-jumbotron">
  <h1 class="display-4">
    <%= @friend.first_name %>
    <%= @friend.last_name %>
  </h1>  
  <p class="lead"><%= @friend.email %> | <%= @friend.phone %> | <%= @friend.twitter %></p>
  <br/>
  <div class="d-flex gap-2">
    <%= link_to "Edit this friend", edit_friend_path(@friend), class:"btn btn-secondary" %> 
    <%= button_to "Delete", @friend, method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-outline-danger" %>
    <%= link_to "Back to friends", friends_path, class:"btn btn-dark" %>
  </div>
</div>


